<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{MM-dd HH:mm:ss ZZZZ} %level [%thread] - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.ebean.DDL" level="INFO"/>

    <logger name="io.ebean.SQL" level="INFO"/>
    <logger name="io.ebean.TXN" level="INFO"/>
    <logger name="io.ebean.SUM" level="INFO"/>

    <!-- L2 logging -->
    <logger name="io.ebean.cache.QUERY" level="INFO"/>
    <logger name="io.ebean.cache.BEAN" level="INFO"/>
    <logger name="io.ebean.cache.COLL" level="INFO"/>
    <logger name="io.ebean.cache.NATKEY" level="INFO"/>

    <!-- Testing with Docker containers -->
    <logger name="io.ebean.docker" level="INFO"/>

</configuration>
